@charset "UTF-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');



/* ESTILOS GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #23181A;
    --cor2: #241A1C;
    --cor3: #1F1517;
    --cor4: #181012;
    --corfonte1: #FFF2E7;
    --corfonte2: #C7BAB3;
    --corfonte3: #A45A49;
    --corfonte4: #E7A80E;
    --corfonte5: #756A67;

    --font0: "Epilogue", sans-serif;
    --font1: "Montserrat", sans-serif;
    --font2: "Inter", sans-serif;
    --font3: "Teko", sans-serif;
}

html {
    font-family: var(--font2);
    font-weight: 500;
}

body {
    background-color: var(--cor3);
    color: var(--corfonte1);
}

a {
    text-decoration: none;
    color: var(--corfonte1);
}

ul {
    list-style: none;
}

.destaque {
    font-family: var(--font0);
    text-transform: uppercase;
    font-size: 1rem;
}

.marrom {
    color: var(--corfonte3);
}

.amarelo {
    color: var(--corfonte4);
}

h1 {
    color: white;
    font-family: var(--font1);
    font-size: 3.5rem;
    font-weight: 800;
}

/* ESTILO DO HEADER */

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font3);
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu li a {
    opacity: 50%;
}

.menu li a:hover {
    opacity: 100%;
}

.github {
    font-weight: 600;
}

/* ESTILO MAIN */

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background-color: var(--cor4);
}

.hero {
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    
    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

hr {
    border-color: var(--corfonte3);
}

.hero-subtitulo {
    color: var(--corfonte2);
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-img-conteiner {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-img-conteiner > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.btn-conteiner {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: .5rem;

    background-color: var(--corfonte3);
    color: white;
}

/* ESTILO RECEITAS */

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.header-receitas {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.receitas-titulos {
    font-family: var(--font1);
    font-size: 2rem;
    font-weight: 700px;
}

.receitas-subtitulos {
    color: var(--corfonte2);
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-conteiner {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card {
    background-color: var(--cor2);
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-header-detalhes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.receita-titulo {
    font-family: var(--font1);
    font-size: 1.5rem;
    font-weight: 700;
}

.receitas-avaliacao {
    color: var(--corfonte5);
    font-size: 1rem;
}

.receita-descricao {
    color: var(--corfonte2);
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.receita-autor-nome {
    color: var(--corfonte2);
    font-size: 1rem;
    font-weight: 600;
}

/* ESTILO FOOTER */

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: var(--cor1);
}

.footer-autor {
    opacity: 50%;
}